@font-face {
    font-family:notosanshans;
    src:url("public/fonts/SourceHanSansCN-VF.ttf");
}
@font-face {
    font-family:方正准雅宋;
    src:url("public/fonts/FZZHUNYSJW.TTF");
}
@font-face {
    font-family:Capitolium2_Italic;
    src:url("public/fonts/Capitolium2_Italic.OTF");
}
@font-face {
    font-family: sawarabi-gothic;
    src:url("public/fonts/sawarabi-gothic-medium.ttf");
}


body, html{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
    font-family: notosanshans;
}
input[type=search]::-webkit-search-cancel-button{
    -webkit-appearance: none;
}
p, h1, span{
    cursor: default;
}
a{
    /* pointer-events: none; */
    text-decoration: none;
}
p.jp, span.jp{
    font-family: sawarabi-gothic;
}
p.zh-title, span.zh-title{
    font-family: 方正准雅宋;
}
p.zh-normal, span.zh-normal{
    font-family: notosanshans;
}


.content{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 35px minmax(500px, 10fr) minmax(169px ,3fr);
    margin: 10px 10px;
    justify-content: left;
}
.leftbar{
    /* background-color: crimson; */
}

#scroll-to-top{
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    opacity: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    transform: translateY(-100px);
    transition: all 300ms ease-in-out;
    filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, 0.2));
}
#scroll-to-top.active{
    transform: translateY(0);
    opacity: 1;
}
#scroll-to-top svg{
    height: 26px;
    width: 26px;
}


#share{
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    opacity: 1;
    left: 0;
    top: 0;
    z-index: 1;
    transform: translateY(0);
    transition: all 300ms ease-in-out;
}
#share.active{
    transform: translateY(100px);
    opacity: 0;
}
#share svg{
    height: 26px;
    width: 26px;
}
#share > div{
    margin: 7px 0;
    filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, 0.2));
}
#share > div:first-child{
    margin: 0 0 7px 0;
}
#share > div:last-child{
    margin: 7px 0 0 0;
}








.main-content{
    display: flex;
    flex-direction: column;
}
.main-content > div{
    margin: 5px 0;
    padding: 0 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.main-content > div:first-child{
    margin: 0 0 5px 0;
}
.main-content > div:last-child{
    margin: 5px 0 0 0;
}
.main-content p{
    padding: 0;
    margin: 10px 0;
    color: white;
}
.main-content p.zh-title{
    font-size: 20px;
}
.main-content p.zh-body{
    text-indent:2em;
    font-size: 15px;
}
.main-content p.jp{
    font-size: 13px;
    text-align: right;
    text-decoration:underline;
    text-decoration-style: dotted;
}
