@font-face {
    font-family:notosanshans;
    src:url("public/fonts/SourceHanSansCN-VF.ttf");
}
@font-face {
    font-family:方正准雅宋;
    src:url("public/fonts/FZZHUNYSJW.TTF");
}
@font-face {
    font-family:Capitolium2_Italic;
    src:url("public/fonts/Capitolium2_Italic.OTF");
}
@font-face {
    font-family: sawarabi-gothic;
    src:url("public/fonts/sawarabi-gothic-medium.ttf");
}


body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto minmax(600px,10fr) 1fr;
    font-family: notosanshans;
}
input[type=search]::-webkit-search-cancel-button{
    -webkit-appearance: none;
}
p, h1, span{
    cursor: default;
}
a{
    pointer-events: none;
    text-decoration: none;
}
p.jp, span.jp{
    font-family: sawarabi-gothic;
}
p.zh-title, span.zh-title{
    font-family: 方正准雅宋;
}
p.zh-normal, span.zh-normal{
    font-family: notosanshans;
}


.content{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr minmax(500px, 10fr) minmax(169px ,3fr);
    grid-auto-rows: minmax(200px, auto);
    margin: 10px 10px;
    justify-content: left;
}
.leftbar,.rightbar{
}

.anime-calendar{
    display: flex;
    flex-direction: column;

}
.anime-calendar p{
    font-size: 12px;
    color: white;
    margin: 0;
    padding: 1px 10px;
}
.anime-calendar > div{
    margin: 2.5px 0;
    display: inline-flex;
}
div.anime-title{
    margin-top: 0;
    margin-bottom: 2.5px;
    background-color: #ff7473;
    cursor: default;
    box-shadow:  2px 2px 1px rgba(0, 0, 0, 0.2);
}
.anime-calendar > div > div{
    align-self: center;
    width: auto;
    background-color: rgba(163, 161, 161, 0.8);
    box-shadow:  1px 1px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
}
.anime-calendar > div > div:first-child{
    cursor:default;
    margin-right: 5px;
}
.anime-calendar .anime-item:nth-child(3n) > div:hover{
    background-color: rgba(229, 58, 64, 0.8);
}
.anime-calendar .anime-item:nth-child(3n-1) > div:hover , .anime-calendar .anime-item:nth-child(3n-2) > div:hover{
    background-color: rgba(48, 169, 222, 0.8);
}
.anime-calendar > div > div:last-child{
    position: relative;
    flex-shrink: 1;
}
.anime-calendar > div > div:last-child p{
}









.main-content{
    display: flex;
    flex-direction: column;
}
.main-content > div{
    margin: 5px 0;
    padding: 0 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.main-content > div:first-child{
    margin: 0 0 5px 0;
}
.main-content > div:last-child{
    margin: 5px 0 0 0;
}
.main-content p{
    padding: 0;
    margin: 10px 0;
    color: white;
}
.main-content p.zh-title{
    font-size: 20px;
}
.main-content p.zh-body{
    text-indent:2em;
    font-size: 15px;
}
.main-content p.jp{
    font-size: 13px;
    text-align: right;
    text-decoration:underline;
    text-decoration-style: dotted;
}
