.anime-calendar{
    display: flex;
    flex-direction: column;
}
.anime-calendar p{
    white-space: nowrap;
    font-size: 12px;
    color: white;
    margin: 0;
}


.anime-calendar > div{
    margin: 2.5px 0;
    display: inline-flex;
}


.anime-calendar > div > div{
    align-self: center;
    width: auto;
    padding: 1.2px 6px 1px 6px;
    background-color: rgba(163, 161, 161, 0.8);
    box-shadow:  1px 1px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
}


.anime-title{
    margin-top: 0;
    margin-bottom: 2.5px;
    padding: 1px 10px;
    background-color: #ff7473;
    cursor: default;
    box-shadow:  2px 2px 1px rgba(0, 0, 0, 0.2);
}


.time div:first-child{
    margin-right: 5px;
}
.time > div:hover{
    background-color: rgba(71, 71, 71, 0.8);
}


.anime-item > div:first-child{
    cursor:default;
    margin-right: 5px;
}
.anime-item:nth-child(3n) > div:hover{
    background-color: rgba(229, 58, 64, 0.8);
}
.anime-item:nth-child(3n-1) > div:hover , .anime-calendar .anime-item:nth-child(3n-2) > div:hover{
    background-color: rgba(48, 169, 222, 0.8);
}
.anime-item > div:last-child{
    max-width: inherit;
    min-width: auto;
    overflow: hidden;
}
.anime-item > div:last-child p{
    transform: translateX(0);
    transition: all 3s ease;
}
.anime-item > div:last-child:hover p{
    transform: translateX(-50%);
}